:root {
    --background:  #F7F7F7;
    --dark: #011376;
    --light: #64BFF6;
    --slate: #758493;
 }
 * {
     margin: 0;
     padding: 0;
     font-family: Helvetica, sans-serif;
     background-color: var(--background);
 }

 .topnav {
     overflow: hidden;
     background-color: white;
     position: fixed;
     height: 35px;
     top: 0;
     width: 100%;
     display: flex;
     align-items: center;
     z-index: 2;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 .hamburger {
     display: none;
     cursor: pointer;
     padding-left: 30px;
     background-color: white;
 }
 .bar {
     display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     transition: all 0.3s ease;
     background-color: var(--dark);
 }
.horizontal-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 40px;
    background-color: white;
}
.horizontal-menu a {
    color: var(--slate);
    text-decoration: none;
    transition: 0.2s;
    background-color: white;
}

.horizontal-menu a:hover {
    color: var(--light);
}

@media(max-width:700px){
    .horizontal-menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

 .title {
     color: white;
     font-size: 24px;
     margin-left: 10px;
 }
 .sidebar {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 3;
     top: 0;
     left: 0;
     background-color: var(--dark);
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }
 .sidebar a {
     background-color: var(--dark);
     padding: 10px 15px;
     text-decoration: none;
     font-size: 22px;
     color: white;
     display: block;
     transition: 0.2s;
 }
 .sidebar a:hover {
     color: var(--light);
 }
 .sidebar .closebtn {
     position: absolute;
     top: 0;
     right: 20px;
     font-size: 34px;
     margin-left: 50px;
 }
 .overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     z-index: 2;
     display: none;
 }
 html {
     scroll-padding-top: 4rem;
 }
 .wrapper {
     max-width: 600px;
     margin: 0 auto;
     padding: 0 1rem;
 }
 header {
     display: flex;
     justify-content: center;
     gap: 40px;
     align-items: center;
     padding: 7rem 0 5rem 0;
     color: var(--dark);
 }
 .me {
     width: 150px;
     border-radius: 150px;
 }
 .name {
     text-align: left;
 }
 li {
     list-style: none;
 }
 h1 {
     font-size: 3rem;
     margin-left: -2px;
     padding: 0;
 }
 header p {
     font-size: 1rem;
 }
 .social {
     padding-top: 20px;
 }
 .social ul {
     display: flex;
     gap: 30px;
 }
 .social a {
     color: var(--slate);
     font-size: 24px;
     transition: 0.2s;
 }
 .social a:hover {
     color: var(--light);
 }
 footer {
     text-align: center;
     color: var(--slate);
     font-size: 12px;
     padding-bottom: 1rem;
 }
 h2 {
     border-bottom: 1px solid black;
     padding: 0.5rem 0;
     margin-bottom: 2rem;
 }
 h3.subheading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }
 main a {
     color: var(--dark);
     transition: 0.2s;
 }
 
 main a:hover {
     color: var(--light);
 }
 
 section {
     margin-bottom: 3rem;
 }
 
 #about p {
     line-height: 1.5rem;
     padding-bottom: 1rem;
 }
 
 h3 {
     font-size: 1rem;
     font-weight: normal;
 }
 
 .publication-item, .project  {
     margin-bottom: 1.3rem;
 }
 
 .source {
     font-style: italic;
 }
 .awards {
    color: darkred;
 }
 
 @media(max-width:580px){
     header {
         display: block;
         padding: 7rem 0 5rem 0;
         text-align: center;
         color: var(--dark);
     }  
     header h1 {
         text-align: center;
         font-size: 2rem;
         margin-left: 0;
         padding: 1rem 0;
     }
     header .social ul {
         justify-content: center;
         gap: 60px;
     }
 }

.simposio i {
    font-size: 30px;
    color: var(--light);
    padding-top: 2rem;
}

.simposio i:hover {
    color: var(--slate);
}

.simposio h1 {
    font-size: 2rem;
    padding: 2rem 0;
    color: var(--dark);
}
.simposio p {
    padding-bottom: 1rem;
}

.simposio img {
    width: 300px;
}

.simposio-poster {
    text-align: center;
    padding: 2rem 0 4rem 0;
}
