:root{
    --link: #007ebd;
    --active-link:#ffdd00;
    font-family: "Times New Roman", Times, serif;
}
.wrapper {
    max-width: 900px;
    margin: auto;
}
.header{
    border-bottom: solid 1px;
    padding-bottom: 10px;
}
h1{
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 30px;
}
.header ul{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
}
.header li {
    padding-left: 50px;
    font-size: 18px;
    display: inline;
}
.navbar{
    float: right;
}
a{
    text-decoration: none;
    color: var(--link); 
}
a:hover{
    color: var(--active-link); 
}

.header a{
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    color: var(--active-link); 
}
footer {
    text-align: center;
    margin-top: 150px;
    color: gray;
    font-size: 11px;
}

/* ---index--- */

.image-title{
    color: white;
}
.projects-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
.project {
    position: relative;
    width: 100%;
}
.proj-image {
    display: block;
    width: 100%;
}
.image-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image-overlay:hover {
    opacity: 1;
}
.image-title {
    font-size: 2rem;
    text-align: center;
}

/* ---CV--- */

.resume {
    margin-top: 50px;
    align-items: center;
    text-align: center;
    align-content: center;
}
.iframe-resume iframe {
    margin-top: 20px;
    height: 400px;
    width: 100%;
}

/* ---about--- */

.icon {
    width: 20px;
    display:inline;
    vertical-align:middle;
}
.about-pic img{
    width: 300px;
    float: left;
    margin: 50px 20px 0 0;
}
.about{
    margin-top: 50px;
}

/* ---projects--- */
.proj-description{
    margin-top: 50px;
}
.proj-description h2{
    text-align: center;
}
.videos-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}
.videos-container iframe {
    width: 100%;
    height: 300px;
    display: block;
}
.credits {
    font-size:12px;
}
.credits strong {
    font-size:12px;
    text-transform: uppercase;
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
.photos-container img{
    width: 100%;
    display: block;
}
.box.credits {
    padding-top: 30%;
}
.proj-description li{
    padding: 10px 0;
}


@media (max-width: 600px) { 
    .header {
        text-align: center;
    }
    .header ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .header li {
        padding-left: 0;
        padding-top: 10px;
        font-size: 18px;
        display: block;
        font-size: 24px;
    }
    .navbar{
        float: none;
    }
    .projects-container {
        grid-template-columns: 1fr;
    }
    .proj-description {
        text-align: left;
    }
    .videos-container {
        grid-template-columns: 1fr;
    }
    .photos-container {
        grid-template-columns: 1fr;
    }
    .box.credits {
        padding-top: 15px;
    }
    .about-pic img{
        width: 300px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .about h2{
        margin-top: 50px;
        text-align: center;
    }
}